<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <script src="/javascripts/socket.io.min.js.js"></script>

    </head>
    <body>
        <% include body%>
    </body>
</html>
